@use '../../styles/variables' as *;

.header {
    width: 100%;
    height: 100px;
    line-height: 100px;

    .logo {
        text-align: center;
        margin-top: -25px;

        h5 {
            font-weight: 600;
            font-size: 1rem;
            color: $dark;
            margin-top: -10px;
            margin-bottom: 0;
        }

        img {
            width: calc(100% - 60%);
            object-fit: contain;
        }

    }

    .menu a {
        font-weight: 600;
        font-size: 1rem;
        color: $dark;
        transition: 0.3sec;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: $primary;
        }
    }

    .active__menu {
        color: $primary !important;
    }

    .cart__icon i,
    .user i,
    .mobile__menu i {
        font-size: 1.3rem;
        color: $dark;
        cursor: pointer;
    }

    .cart__icon {
        position: relative;

        .cart__badge {
            position: absolute;
            top: 20px;
            right: -10px;
            background: $primary;
            color: $font-light;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            font-size: .8rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mobile__menu {
        font-weight: 600;
        display: none;
    }

}

.header__shrink {
    position: sticky;
    background: $font-light;
    z-index: 99999;
    top: 0;
    left: 0;
    box-shadow: 5px 5px 15px -5px $secondary;
}

@media only screen and (max-width:992px) {
    .header {
        .logo img {
            width: calc(100% - 70%);
        }

        .logo h5 {
            font-size: 0.8rem;
            margin-top: -10px;
        }

        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.534);
            z-index: 99;
            display: none;

            .menu {
                position: absolute;
                top: 0;
                right: 0;
                width: 250px;
                height: 100%;
                background: $font-light;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 100;

                & a {
                    font-size: 0.9rem;
                }
            }
        }

        .mobile__menu {
            display: block;
        }

        .cart__icon i,
        .user i,
        .mobile__menu i {
            font-size: 1rem;
        }

        .show__menu {
            display: block;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 80px;
        line-height: 80px;

        .mobile__menu {
            display: block;
        }

        .logo h5 {
            margin-top: -10px;
        }
    }
}