@use '../../../styles/variables' as *;

.form {
    width: 60% !important;
    margin: auto;
    padding: 20px;
    background: $secondary;
    border-radius: 5px;

    .form__group {
        margin-bottom: 30px;

        & input {
            width: 100% !important;
            background: transparent;
            padding: 7px 20px;
            border: none;
            border-bottom: 1px solid $dark;

            &:focus {
                outline: none;
            }
        }
    }
}